.links_menu,
.social_logo,
.social_media {
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

/* social */
.social_menu {
  display: flex;
  margin-bottom: .3rem;
}

.social_logo {
  padding: .3rem 1rem;
  margin-right: .30rem;
  background-color: var(--White);
  width: 80%;
  overflow: hidden;
  animation: expandNavbar 2s ease-out forwards;
}

.social_logo img {
  width: 130px;
}

.social_media {
  padding: .7rem 1rem .2rem 1rem;
  background-color: var(--Black);
  width: 20%;
  color: var(--White);
  justify-content: space-evenly;
}

.social_media a {
  color: var(--White);
}

/* menu */
.links_menu {  
  padding: 1rem;
  justify-content: space-between;
  width: 0;
  overflow: hidden;
  animation: expandNavbar 2s ease-in-out forwards;
  white-space: nowrap;
}

.links_menu li {
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation: fadeInMenu 0.3s ease-out forwards;
  animation-delay: 1s;
}

.links_menu li a {
  color: var(--Black);
  font-size: clamp(0.8rem, 0.5714rem + 0.3571vw, 1rem);
}

/* animation */
@keyframes expandNavbar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}