.theme {
  background: url('../assets/theme_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.theme .winner_wrapper img {
  border: 5px solid #222;
  box-shadow:
    0 4px 0 var(--Black);
    background-color: var(--Black);
}

@media (min-width: 769px) {
  .theme .winner_wrapper .duel_zoom {
    height: 80vh;
    width: 30vw;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 768px) {
  .theme {
    background: var(--Black);
  }
  .theme .image_wrapper {
    aspect-ratio: 1 / 1 !important;
    object-position: top;
  }
  .theme_heroes .winner_wrapper .duel_zoom,
  .theme_villains .winner_wrapper .duel_zoom {
    max-width: 250px;
    object-fit: cover;
  }
  .winner_wrapper .bg_card {
    width: 100%;
  }
}

/* ANIME */
.theme_animes .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* POKEMON */
.theme_pokemon .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_pokemon .card_duel img {
  object-fit: contain;
}
.theme_pokemon .winner_wrapper .duel_zoom {
  object-fit: contain;
}

/* HEROES */
.theme_heroes .image_wrapper {
  aspect-ratio: 3 / 4;
}
.theme_heroes .card_duel img {
  object-position: top;
}

/* YU GI OH */
.theme_yugioh .image_wrapper {
  aspect-ratio: 2 / 3;
}
.theme_yugioh .card_duel img {
  object-position: top;
}

/* LOL */
.theme_lol .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* VILLAINS */
.theme_villains .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* STREETFIGHTER */
.theme_streetfighter .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* ESPORT TEAM */
.theme_esport .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_esport .card_duel img {
  object-fit: contain;
}
.theme_esport img {
  object-fit: contain;
  padding: 10px;
}
.theme_esport .card img,
.theme_esport .card_duel img,
.theme_esport .winner_wrapper .duel_zoom {
  object-position: center;
  filter: drop-shadow(0 0 1px white)
          drop-shadow(0 0 1px white);
}

/* ESPORT PLAYERS */
.theme_players .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* VIDEO GAMES */
.theme_videogames .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* CONSOLES */
.theme_consoles .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_consoles .winner_wrapper .duel_zoom {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* CHARACTERS */
.theme_characters .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* MANGA */
.theme_manga .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* RETRO GAMES */
.theme_retro .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* CARTOONS */
.theme_cartoons .image_wrapper {
  aspect-ratio: 3 / 4;
}
.theme_cartoons img {
  object-fit: contain;
}
.theme_cartoons .card img {
  object-position: center;
}

/* YT/TW FR */
.theme_youtubers .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* VALORANT AGENTS */
.theme_valorant .image_wrapper {
  aspect-ratio: 3 / 4;
}
.theme_valorant .winner_wrapper .bg_card {
  object-position: top;
}

/* E-TOURNAMENTS */
.theme_tournaments .image_wrapper {
  aspect-ratio: 1 / 1;
}

/* FIFA26 */
.theme_fifa .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_fifa img {
  object-fit: contain;
  padding: 10px;
}
.theme_fifa .card img,
.theme_fifa .card_duel img,
.theme_fifa .winner_wrapper .duel_zoom {
  object-position: center;
  filter: drop-shadow(0 0 1px white)
          drop-shadow(0 0 1px white);
}

/* ONE PIECE */
.theme_onepiece .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* MOVIES */
.theme_movies .image_wrapper {
  aspect-ratio: 3 / 4;
}
.theme_movies .winner_wrapper h5 {
  font-size: 20vw;
  word-spacing: 0.4rem;
}

/* SERIES */
.theme_series .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* FOOTBALL */
.theme_football .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* FORTNITE */
.theme_fortnite .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_fortnite .card_duel img {
}

