.theme {
  background: url('../assets/theme_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .theme {
    background: var(--Black);
  }
  .theme .image_wrapper {
    aspect-ratio: 1 / 1 !important;
    object-position: top;
  }
  .theme_heroes .winner_wrapper .duel_zoom {
  max-width: 250px;
  object-fit: cover;
}
}

/* ANIME */
.theme_animes .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* POKEMON */
.theme_pokemon .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_pokemon .card_duel img {
  object-fit: contain;
}
.theme_pokemon .winner_wrapper img {
  object-fit: contain;
}

/* HEROES */
.theme_heroes .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* YU GI OH */
.theme_yugioh .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* LOL */
.theme_lol .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* VILLAINS */
.theme_villains .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* STREETFIGHTER */
.theme_streetfighter .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* ESPORT TEAM */
.theme_esport .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_esport .card_duel img {
  object-fit: contain;
}
.theme_esport img {
  object-fit: contain;
  padding: 10px;
}
.theme_esport .card img,
.theme_esport .card_duel img,
.theme_esport .winner_wrapper .duel_zoom {
  object-position: center;
  filter: drop-shadow(0 0 1px white)
          drop-shadow(0 0 1px white);
}

/* ESPORT PLAYERS */
.theme_players .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_players img {
  object-fit: contain;
}

/* VIDEO GAMES */
.theme_videogames .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* CONSOLES */
.theme_consoles .image_wrapper {
  aspect-ratio: 1 / 1;
}
.theme_consoles .winner_wrapper .duel_zoom {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* CHARACTERS */
.theme_characters .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* MANGA */
.theme_manga .image_wrapper {
  aspect-ratio: 3 / 4;
}

/* RETRO GAMES */
.theme_retro .image_wrapper {
  aspect-ratio: 2 / 3;
}

/* CARTOONS */
.theme_cartoons .image_wrapper {
  aspect-ratio: 3 / 4;
}
.theme_cartoons img {
  object-fit: contain;
}
.theme_cartoons .card img {
  object-position: center;
}